{% extends 'base.html.twig' %}

{% block title %}Ty-terroir{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { padding: 2px 6px; }
</style>

<!--Section: Design Block-->
<section>
    <div id="intro" class="bg-image" style="
        background-image: url('{{asset("build/assets/images/terroir.jpg")}}');
        height: 93vh;
      ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="row align-items-center">
            <div class="col-12">
              <h1 class="mb-0 text-white display-1">Ty Terroir</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Design Block-->
</header>
{% endblock %}
